/* Fontes e fundo*/
body {
    font-family: Arial, sans-serif;
    background-image: url("images/fundo.png");
    margin: 20px;
}

/* Menu fixo */
nav {
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

/* Links do menu */
nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

/*Efeito mouse*/
nav a:hover {
    color: rgb(64, 0, 255);
    text-decoration: underline;
}

h1 {
    color: navy;
}
